.videos {
  position: fixed;
  height: 100px;
  bottom: 1rem;
  right: 0;
  text-align: right;
  transition: right cubic-bezier(0.55, 0, 0, 1) 500ms;

  $video-size: 100px;

  .video-container {
    background-color: black;
    box-shadow: 0px 0px 5px black;
    border-radius: 10px;
    display: inline-block;
    width: $video-size;
    height: 100%;
    z-index: 3;
    margin-right: 1rem;

    video {
      border-radius: 10px;
      cursor: pointer;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    .video-actions {
      display: none;
    }
  }

  .video-container.active {
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    transform: none;

    video {
      border-radius: 0;
      cursor: inherit;
      object-fit: contain;
    }

    .video-actions {
      display: inherit;
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 1rem;
      font-family: monospace;
      user-select: none;

      .action:hover {
        cursor: pointer;
        color: white;
      }
    }
  }

  .video-container.mirrored video {
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
  }
}
